.home {
  border: 2px solid black;
  margin: 1em 20em;
}
.lineSeparator {
  height: 1px;
  background-color: black;
}
.homeContainer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: lightgray;
  margin: 1em;
  text-align: center;
}
