.home {
  border: 2px solid black;
  margin: 1em 20em;
}
.lineSeparator {
  height: 1px;
  background-color: black;
}
.homeContainer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: lightgray;
  margin: 1em;
  text-align: center;
}

@media screen and (min-width: 320px) {
  .home {
    margin: 1em;
  }
}
@media screen and (min-width: 768px) {
  .home {
    margin: 1em 5em;
  }
}
