.header {
  margin: 1em;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profilePhoto {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}
